*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
.container{
    border:2px solid red;
    display:grid;
    row-gap:10px;
    column-gap:5px;
    grid-template-column:30% 70%
}
.box{
    border:4px solid #008000	
    padding:12px
}